.impression__header {
  margin-bottom: -70px;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      h1 {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 24px;
      }

      a {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 110%;
        color: #EFC68B;
        padding: 2px;
        border-bottom: #EFC68B 1px solid;
      }
    }

    .right {
      display: flex;
      align-items: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.impression__miniCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 5px solid #EFC68B;
  background-color: #FFFFFF;
  margin-bottom: 30px;

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    flex-wrap: wrap;

    img {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      margin-right: 6px;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      

      strong {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 110%;
        color: #000000;
        margin-bottom: 2px;
      }

      p {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #000000;
        margin: 0;
      }
    }

    .data {
      display: flex;
      align-items: center;
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      @media (max-width: 767px) {
        margin-top: 10px;
        margin-bottom: 15px;
      }

      img {
        width: 11px;
        height: 11px;
        object-fit: contain;
        margin-right: 3px;
      }

      span {
        margin-right: 7px;
      }
    }
  }

  .desc {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
  }
}

.impression__makroCard {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-bottom: 30px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 20px 20px;
    border-bottom: 1px solid #000;
    flex-wrap: wrap;

    h2 {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 110%;
      color: #000000;
      margin: 0;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .user {
      display: flex;
      align-items: center;

      img {
        width: 42px;
        height: 42px;
        border-radius: 100%;
        margin-right: 6px;
      }

      strong {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 110%;
        color: #000000;
      }

      p {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #000000;
        margin: 0;
      }
    }
  }

  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .appcNext,
    .appcPrec {
      box-shadow: rgb(38 57 77) 0px 5px 20px -10px;
    }

    .swiper-slide {
      img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    h2 {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 122%;
      color: #000000;
      padding-top: 23px;
      padding-bottom: 12px;
    }
    
    .left_col {
      border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
      @media (max-width: 767px) {
        border-right: none;
      }
    }
  }
}

.impression__monoCard {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-bottom: 30px;

  .cardImg {
    max-width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px 20px;

    img {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      margin-right: 7px;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      strong {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 110%;
        color: #000000;
        margin-bottom: 2px;
      }

      p {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #000000;
        margin: 0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px 20px;

    h2 {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #000000;
      margin-bottom: 9px;
    }

    p {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;

    a {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      padding: 2px;
      border-bottom: 1px solid #EFC68B;
      color: #EFC68B;
    }

    .data {
      display: flex;
      align-items: center;
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;

      img {
        width: 11px;
        height: 11px;
        object-fit: contain;
        margin-right: 3px;
      }

      span {
        margin-right: 7px;
      }
    }
  }
}