.joinCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;

  strong {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 120%;
    color: #000000;

    &.title {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 110%;
      text-align: center;
      color: #114A37;
      margin-bottom: 5px;
    }
  }

  p {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    color: #114A37;
    margin: 0;
    max-width: 134px;
  }

  &.mini {
    min-height: 120px;
  }

  &.makro {
    min-height: 256px;
  }

  &.bg--qiz {
    padding: 22px 19px;
    background-image: url('../img/join1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    strong {
      color: white;
      max-width: 184px;
    }
  }

  &.yashil {
    background-color: #135841;
    background-image: url('../img/join2.png');
    background-repeat: no-repeat;
    background-position: center left;
    align-items: flex-end;

    strong {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 108%;
      color: #FFFFFF;
      max-width: 64px;
    }
  }

  &.uzun {
    padding: 15px;

    strong {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 100%;
      color: #FFFFFF;
      margin-bottom: 9px;
    }

    p {
      margin: 0;
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: #114A37;
      text-align: left;
    }
  }

  &.uzun--kok {
    padding: 30px 26px;
    justify-content: flex-start;
    align-items: flex-start;

    strong {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 120%;
      color: #FFFFFF;
      margin-bottom: 2px;
    }

    p {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #FFFFFF;
      text-align: left;
    }
  }

  &.bg--midle {
    background-image: url('../img/join5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    strong {
      font-family: 'Cera Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.55);
    }
  }
}